@use 'colors';
@use 'sizes';

.transactions__container {
  overflow-x: hidden;
  padding: 20px;

  .wallet__description {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    .name {
      display: flex;
      align-items: baseline;

      .name__name {
        margin-right: 10px;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .table__container {
    overflow: auto;

    table {
      width: 100%;

      .mat-column-actions {
        .mat-stroked-button {
          margin-right: 10px;
        }
      }

      .mat-column-amount {
        .amount--income { color: colors.$amount-income; }
        .amount--expense { color: colors.$amount-expense; }
      }
    }

    .mat-table {
      overflow-x: scroll;
    }

    .mat-cell, .mat-header-cell {
      padding: 0px 10px;
      line-break: unset;
      white-space: nowrap;
    }
  }

  .wallet__sort__add {
    display: flex;
    justify-content: center;
    flex-direction: column;

    > div {
      margin-bottom: 7px;
      width: 100%;
    }

    .wallet__add {
      margin-left: 0;

      button {
        width: 100%;
        &.income { background-color: colors.$amount-income; }
        &.expense { background-color: colors.$amount-expense; }
      }
    }

    .wallet__sort {
      order: 2;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .transactions__container {
    .table__container {
      overflow: initial;
    }

    .wallet__sort__add {
      display: flex;
      align-items: baseline;
      flex-direction: row;

      > div {
        margin-bottom: 7px;
        width: fit-content;
      }

      .wallet__sort {
        margin-right: auto;
        order: initial;
      }

      .wallet__add {
        margin-left: 20px;
      }
    }

    .example-additional-selection {
      opacity: 0.75;
      font-size: 0.75em;
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{sizes.$navbar-height});
}