<div class="categories-editor">
  <form [formGroup]="form">
    <teaf-ng-form-field>
      <label>Type</label>

      <div class="radio-button-group radio-button-group--horizontal">
        <div class="radio-button">
          <p-radioButton [value]="transactionTypes.Income" formControlName="type"></p-radioButton>
          <label>Income</label>
        </div>

        <div class="radio-button">
          <p-radioButton [value]="transactionTypes.Expense" formControlName="type"></p-radioButton>
          <label>Expense</label>
        </div>
      </div>
    </teaf-ng-form-field>

    <teaf-ng-form-field [control]="form.controls.name" [validationMessages]="{ required: 'Name is required', maxlength: 'Name can\'t have more than 20 characters' }">
      <label for="name">Name</label>
      <input type="text" id="name" pInputText formControlName="name"/>
    </teaf-ng-form-field>
  </form>

  <div class="categories-editor__actions">
    <button class="p-button-outlined" pButton type="button" label="Cancel" [disabled]="isSaving" (click)="cancel()"></button>
    <button pButton type="button" label="Save" [loading]="isSaving" [disabled]="isSaving || form.invalid" (click)="save()"></button>
  </div>
</div>
