.footer {
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* positioning */
  position: fixed;
  bottom: 0;

  /* box model */
  width: 100%;
  height: 2rem;
  background-color: #5460ac;

  /* type */
  color: rgb(9, 2, 24);
}
