<p-sidebar [(visible)]="menuVisible">
  <div class="header__navigation-mobile-secondary-navigation">
    <button pButton icon="pi pi-user" class="p-button-rounded p-button-info p-button-text p-button-sm"></button>
    <button pButton icon="pi pi-cog" class="p-button-rounded p-button-info p-button-text p-button-sm"></button>
    <button pButton icon="pi pi-sign-out" class="p-button-rounded p-button-info p-button-text p-button-sm"></button>
  </div>

  <div class="header__navigation-mobile">
    <a class="header__navigation-mobile-item" routerLink="/wallets" routerLinkActive="header__navigation-mobile-item--active">My wallets</a>
    <a class="header__navigation-mobile-item" routerLink="/reports" routerLinkActive="header__navigation-mobile-item--active">Reports</a>
  </div>
</p-sidebar>

<div class="header">
  <teaf-ng-container>
    <div class="header__inner-container">
      <a routerLink="/" class="header__logo">
        <h1>TrackExpensesApp</h1>
      </a>

      <div class="header__navigation">
       <ng-container *ngIf="isUserLoggedIn$ | async">
         <a class="header__navigation-item" routerLink="/wallets" routerLinkActive="header__navigation-item--active">My wallets</a>
         <a class="header__navigation-item" routerLink="/reports" routerLinkActive="header__navigation-item--active">Reports</a>
       </ng-container>
      </div>

      <div class="header__secondary-navigation">
        <ng-container *ngIf="isUserLoggedIn$ | async; else signInUserSecondaryNav">
          <button pButton icon="pi pi-user" class="p-button-rounded p-button-info p-button-text p-button-sm"></button>
          <button pButton icon="pi pi-cog" class="p-button-rounded p-button-info p-button-text p-button-sm"></button>
          <button (click)="logout()" pButton icon="pi pi-sign-out" class="p-button-rounded p-button-info p-button-text p-button-sm"></button>
        </ng-container>

        <ng-template #signInUserSecondaryNav>
          <p-button (click)="goToSignOn()" label="Register new account" icon="pi pi-user-plus" styleClass="p-button-sm p-button-text"></p-button>
          <p-button (click)="goToSignIn()" label="Log in" icon="pi pi-sign-in" styleClass="p-button-sm p-button-text"></p-button>
        </ng-template>
      </div>

      <button (click)="menuVisible = true" pButton icon="pi pi-bars" class="p-button-rounded p-button-text p-button-sm header__menu-toggle"></button>
    </div>
  </teaf-ng-container>
</div>
