@use 'colors';
@use 'sizes';

.navbar {
  background: colors.$pure-white;
  height: sizes.$navbar-height;
  border-bottom: 1px solid colors.$border-primary;

  .main-link {
    color: colors.$pure-black;
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }

  &__inner-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .navigation-link {
    text-decoration: none;
    color: colors.$pure-black;

    &:hover,
    &--active {
      color: colors.$primary;
      text-decoration: underline;
    }
  }
}
