<div class="container">
  <div class="loading-container" *ngIf="myWalletsData.isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="myWalletsData.hasError">
    <app-system-message type="error" text="Something went wrong ;(" description="Some server error occured"></app-system-message>
  </div>

  <div class="my-wallets" *ngIf="myWalletsData.data">
    <app-my-wallet *ngFor="let wallet of myWalletsData.data" [wallet]="wallet" (walletEdit)="handleWalletEdit($event)"></app-my-wallet>
    <app-add-new-wallet (click)="handleWalletCreate();"></app-add-new-wallet>
  </div>
</div>