<div>
  <header>
    <h2>Home</h2>
  </header>

  <section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa natus qui
    ducimus error dolorum facilis, iure voluptatem deserunt voluptatum laborum
    vel neque excepturi? Architecto eaque sapiente assumenda vero ullam maxime?
    Eligendi, suscipit labore. Repellat accusantium mollitia numquam
    repudiandae. Quos accusamus molestias similique maxime dolor, eius
    laudantium voluptates veniam autem tenetur eaque, illo facilis porro
    explicabo optio. Quis tenetur error magnam! Ducimus, fuga hic et iusto ea
    pariatur odio, corrupti assumenda laudantium cumque quia, corporis laborum
    voluptatum eos molestiae rerum obcaecati voluptates quaerat aperiam earum
    natus! Consequuntur amet voluptatum atque voluptate. Corporis quae
    accusantium qui error, totam facilis aliquam eligendi assumenda ullam veniam
    minus recusandae asperiores ea nostrum iure eveniet possimus. Omnis
    architecto aperiam magni similique quia aut fugit sed dignissimos. Corporis
    fugiat harum ea dicta perferendis quis ad dignissimos, illo veniam
    consequatur laboriosam minus eius. Corporis est sint voluptatibus, quam,
    cum, suscipit quas eum commodi voluptate officiis a quaerat ullam! Nisi
    culpa, necessitatibus alias tenetur, a similique temporibus, labore illum
    consequuntur porro possimus vel quis dolore. Accusamus eum consequuntur
    cupiditate harum neque molestias nam voluptatem, nostrum ad deleniti fugiat
    ullam. Ab perferendis odio, deleniti vero molestias obcaecati cupiditate
    quidem adipisci vel rem quos, assumenda iure amet ratione vitae deserunt
    voluptatem est? Tempora blanditiis ipsum molestias deleniti vero corrupti
    ipsam ducimus! Officiis quaerat nulla totam dolor optio dicta, odio aut
    doloribus deleniti. Tenetur molestiae, et aut cumque vero quasi aperiam
    possimus sint totam quaerat adipisci, amet ut natus eum impedit? Asperiores!
    Recusandae repellendus cupiditate omnis placeat quos ratione cum, rem eius?
    Atque labore, itaque tempore eveniet eligendi accusamus nemo? Quia quidem
    voluptatem quibusdam officiis adipisci! Odio dolorem et veniam ratione ea.
    Inventore perspiciatis explicabo sequi quis? Est vel ratione ut architecto?
    Ea recusandae aspernatur fuga obcaecati veniam rem. Magnam necessitatibus
    maiores omnis at ratione harum corrupti nostrum dicta? Ut, earum sed?
  </section>
</div>
