@import '../../../../../styles/mixins/card';

:host {
  @include card;
}

.wallet-data {
  &__actions {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    color: var(--teaf-text-color);
    font-size: 36px;
  }

  &__description {
    color: #afb3b4;
    font-size: 22px;
  }

  &__date {
    margin-top: 25px;
    display: block;
    color: var(--gray-400);
    font-size: 12px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
