<form [formGroup]='form'>
    <h1 mat-dialog-title>{{ data ? "Update Wallet" : "Create Wallet" }}</h1>
    <mat-form-field appearance="fill">
        <mat-label>Wallet Name</mat-label>
        <input matInput [formControl]='form.controls["name"]'>
        <mat-error *ngIf="nameIsNotProvided">
          Name is required
        </mat-error>
        <mat-error *ngIf="nameHasMoreThan20Characters">
          Name can't have more than 20 characters
        </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-button (click)="save()" cdkFocusInitial>Save</button>
    </div>
</form>