.image-container {
  height: 200px;
  position: relative;
}

.title {
  text-align: center;
  margin-top: 25px;
  color: var(--teaf-text-color);
}

.text {
  margin-top: 15px;
  text-align: center;
  color: var(--teaf-text-color);
}
