@use 'colors';

div {
    padding: 1.23rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    width: 100%;
    margin: auto;

    &.error {
        color: colors.$error-text;
        background-color: colors.$error-background;
    }

    h2 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    p {
        margin-top: 0.5rem;
    }
}