@use 'colors';

.add-new-wallet {
  height: 200px;
  border: 1px solid colors.$border-secondary;
  border-radius: 12px;
  padding: 25px;
  color: colors.$border-secondary;
  background: transparentize(colors.$border-primary, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > mat-icon {
    font-size: 70px;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  > span {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}
