div {
    color: rgb(37, 99, 23);
    background-color: rgb(219, 234, 254);
    padding: 1.23rem;
    line-height: 1.5;
    border-radius: 0.5rem;

    width: 400px;
    margin: 30px auto 0;

    &.error {
        color: rgb(220, 38, 3);
        background-color: rgb(254, 226, 226);
    }

    h2 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    p {
        margin-top: 0.5rem;
    }
}