@use 'colors';

.my-wallet {
  border: 1px solid colors.$border-secondary;
  border-radius: 12px;
  background: colors.$pure-white;
  padding: 25px;

  h3 {
    margin-bottom: 6px;
  }

  p {
    color: colors.$secondary-text;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;

    > button {
      margin-left: 15px;
      width: 100px;
    }
  }
}
