<form [formGroup]="form" class="form__container">
  <h1 mat-dialog-title>{{ data.id ? "Update Category" : "Create Category" }}</h1>
  <mat-form-field>
    <mat-label>Select type</mat-label>
    <div class="loading-container" *ngIf="transactionTypeDisabledLoading">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <mat-select
      [formControl]="form.controls['type']"
      matTooltip="Category is already used by transaction"
      matTooltipClass="typeDisabledTooltip"
      [matTooltipDisabled]="!form.controls['type'].disabled">

      <mat-option *ngFor="let type of selectTransactionsTypes | keyvalue" [value]="type.value">
        {{ type.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>name</mat-label>
    <input matInput [formControl]="form.controls['name']">
    <mat-error *ngIf="nameIsNotProvided">
      Name is required
    </mat-error>
    <mat-error *ngIf="nameIsToLong">
      Name can't have more than 20 characters
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-stroked-button color="primary" class="btn__cancel" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" class="btn__save" (click)="save()" [disabled]="form.invalid" cdkFocusInitial>Save</button>
  </div>
</form>
