.confirm-text {
    text-align: center;
    padding-bottom: 10px;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

.loading-container {
    margin: auto;
}

.modal-width {
    width: 500px;
}