@use 'sizes';

.wallets-management {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 25px 25px;
  padding: 50px 15px 0 15px;

  @media only screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }

  app-my-wallet:last-of-type {
    @media (max-width: 1100px) {
      margin-bottom: 40px;
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{sizes.$navbar-height});
}

.message-container {
  margin-top: 20px;
}

.desktop-button {
  @media (max-width: 1100px) {
    display: none;
  }
}

.mobile-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 30px;
  @media (min-width: 1100px) {
    display: none;
  }
}

app-my-wallet {

}