@use 'assets/styles/layout.scss';
@use 'assets/styles/global';
@use 'assets/styles/colors';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$track-expenses-app-frontend-primary: mat.define-palette(mat.$indigo-palette);
$track-expenses-app-frontend-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$track-expenses-app-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$track-expenses-app-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $track-expenses-app-frontend-primary,
      accent: $track-expenses-app-frontend-accent,
      warn: $track-expenses-app-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($track-expenses-app-frontend-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-snack-bar-container{
  color: white;
  font-weight: 500;
  &.success{
    background-color: #28a745!important;
  }
  &.error{
    background-color: #dc3545!important;
  }
  &.info{
    background-color: #17a2b8!important
  }
  &.warning{
    background-color: #ffc107!important
  }
  .mat-button{
    color: white;
  }
}