:root {
  --teaf-app-background: #eff3f8;
  --teaf-white-background: #ffffff;

  --teaf-border-color: #e5e5e5;

  --teaf-text-color: #495057;
  --teaf-text-color-error: #ff0000;

  --teaf-income-color: #28a745;
  --teaf-expense-color: #dc3545;
}
