$primary: #3f51b5;
$pure-white: #ffffff;
$pure-black: #000000;

$secondary-text: #a0a0a0;

$main-background: #F8F8F8;

$border-primary: #e5e5e5;
$border-secondary: #CAC4D0;

$error-background: rgb(254, 226, 226);
$error-text: rgb(220, 38, 3);